body{
  background-color: black ; 
  /* background-color: white;  */
}
/* .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;  

} */
.button{
  width: 121px;
  height: 27px;
  border: 2px;
  color: white;
  border-radius: 5.55px;
  background: radial-gradient(circle, #4298CA59 35%, #00000000 100%);
}

.button-styling {
border: Mixed solid;
border-image-source: linear-gradient(180deg, #FED21C 0%, rgba(0, 0, 0, 0) 100%);
backdrop-filter: blur(200px);
background: #FED21C33;
border: 0.5px solid;

}




.banner{
  display: flex;              
  flex-direction: column;
   align-items: center;  
  text-align: center; 
  color: white;
  /* border: 2px solid; */
  margin-top: 68.3px;
}
.banner h1{
  justify-content: center;
  /* width: 883px; */
  /* height: 68px; */
  font-weight: 700; 
  font-family: 'Manrope';
  font-size: 50px;
}

.manrope-semibold{
  font-family: 'Manrope';
  font-weight: 600;
}


.banner p{
 /* width: 695px; */
 /* height: 40px;   */
 font-family: 'Raleway';
}


.footer-border-line {
  border: 0.5px solid;
  border-image-source: linear-gradient(90deg, #185C83 -0.94%, rgba(0, 0, 0, 0) 100%);
}


.menu-popup-bg {
  background-image: url('https://s3-alpha-sig.figma.com/img/c0ff/20d7/334e433aba824dad0b8868c94f660037?Expires=1729468800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=KpIAs490BmkTgeP774MWzbTK3RV38if~JuK9XSXpfgvXsRE7tGENoJZ~x~-Icc4wl5kQ~e2khuIfe-mk-ktcrgWMlGYdSIIoMa-F4ILOhRZt~j3UgknmpQkV2yuJSIRn99Jmm5AnlSI-1sGtbKHndbSVb9S6LBvsM-8ktKqgaaKeyerPhKrkwNrF389adOoCIgl2krL3uodrPOJz46416jHT4FkpKayes1vx7lJxz6o5gRjFpA6k~7CZ2uLiqrv7976tTG-EgebRLQO7MEBOW2M8LiTSl~KgxLbht~MPJtnLuBtUagnhXIhJegJ9RhbX4HBjSS33KXWmUabF6ciUFA__');
}
.menu-popup-bg-overlay {
  height: 100vh;
  width: 100%;
  background: linear-gradient(90deg, #000000 32.62%, rgba(0, 0, 0, 0.5) 83.39%);
}